import { createViteAppWebComponent } from '@onecx/react-webcomponents'

import './styles.css'
import App from './App'

// Web component entrypoint for embedding into the portal shell.
createViteAppWebComponent(App, 'ocx-<%= fileName %>-entrypoint')
