productName: &product_name onecx-<%= fileName %>
product:
  info:
    data:
      name: *product_name
      description: "OneCX <%= fileName %> UI"
      displayName: "OneCX <%= fileName %>"
      basePath: "/onecx-<%= fileName %>"
app:
  name: onecx-<%= fileName %>-ui
  image:
    repository: 'onecx-apps/onecx-<%= fileName %>-ui'
  routing:
    enabled: true
  operator:
    # Microfrontend
    microfrontend:
      enabled: true
      specs:
        main:
          productName: *product_name
          exposedModule: './OneCX<%= className %>Module'
          shareScope: 'react_19'
          description: 'OneCX <%= fileName %> UI'
          note: 'OneCX <%= fileName %> UI auto import via MF operator'
          type: MODULE
          technology: WEBCOMPONENTMODULE
          remoteName: <%= remoteModuleFileName %>
          tagName: ocx-<%= fileName %>-entrypoint
    # Microservice
    microservice:
      spec:
        productName: *product_name
        name: OneCX <%= remoteModuleName %> UI
        description: OneCX <%= remoteModuleName %> Frontend
        type: ui
    # Permission
    permission:
      enabled: true
      spec:
        permissions:
        # ACTION P: Adjust permissions for the entity
