export interface <%= resourceClassName %>Details {
  id: string;
  modificationCount: number;
  // ACTION D1: Add additional detail properties here
}

export interface <%= resourceClassName %>DetailsFormData {
  id: string;
  modificationCount: number;
  // ACTION D1: Add additional form field properties here
}
